<div class="row addresses-page col-lg-14 col-md-14" id="account-details-page">
  <div class="col-sm-15 col-xs-15 mobile-title addresses-only-mobile">
    <fk-icon fk-icon-id="#close" id="close-details" ng-click="goBack()"></fk-icon>
  </div>
  <div class="address-book-wrapper">
    <div class="ab-title"><h2>Address Book</h2></div>
    <fk-address-book class="col-sm-15 col-xs-15 pretty-list addresses-page"></fk-address-book>
  </div>
</div>
<fk-icon class="spinner address-spinner" fk-icon-id="#spinner"></fk-icon>
