<div class="content">
  <div class="ngdialog-header">
    <fk-icon class="logo" fk-icon-id="#fd-logo"></fk-icon>
  </div>
  <h3>New</h3>
  <p>You can switch back to the classic version anytime.</p>


  <div class="buttons">
    <button ng-click="$ctrl.stay()" class=" button button-primary">I WANT TO TRY NEW</button>
    <a href="https://www.google.com/"><button class=" button button-primary-ghost">GO TO CLASSIC</button></a>
    <span ng-click="$ctrl.closeDialog()">Ask me later</span>
  </div>
</div>

<fk-icon class="spinner login-spinner" fk-icon-id="#spinner"></fk-icon>
