<div class="content">
  <p>As part of our ongoing commitment to improving our customer experience, we have recently updated how our default payment method works. If you do not select a preferred payment option, then we will automatically select a default payment method at checkout. <a href="/help/faq/Payment">Click here<span offscreen>for payment information</span></a> for more information.</p>
  <div class="button-container">
    <button class="button button-primary" ng-click="closeThisDialog()">Continue</button>
  </div>
</div>
<fk-ngdialog-close ng-click="closeThisDialog()"></fk-ngdialog-close>
