<div class="col-xs-15 col-sm-15 col-md-12 col-lg-12 delivery-pass-wrapper">
  <div class="dp_header">
    <div class="dp_logo">
      <fk-icon fk-icon-id="#fk-logo" class="fk-logo"></fk-icon>
      <div>
        <span>DeliveryPass<sup>®</sup><fk-icon fk-icon-id="#bike-purple"></fk-icon></span>
      </div>
      <div class="text">Unlimited Free Deliveries • Exclusive Perks</div>
    </div>
  </div>
  <div class="content" ng-if="dpPlans">
    <div class="plan-wrapper" ng-repeat="plan in dpPlans">
      <div class="plan_block">
        <div class="plan_info">
          <span class="duration block">1 Month</span>
          <span class="block"><span class="price">{{plan.sku.price|currency:'$':2}}</span><sub>+ Tax</sub></span>
          <span class="membership">Monthly Membership</span>
        </div>
        <div class="sign-up">
          <button class="button-primary-ghost" ng-click="signup(plan)"><span offscreen>{{plan.productData.description}}</span>SIGN UP</button>
        </div>
      </div>
    </div>
  </div>
  <div class="dp_terms">
    <div class="footer">
      <div tabindex="0">
        <p>By signing up, you are agreeing to the Terms and Conditions set forth here, and authorize us to charge your default payment method.</p>
      </div>
      <div class="conditions"><a ng-click="$ctrl.goToTop()" href="/help/legal/deliverypasstc"><span offscreen>DeliveryPass</span>Terms and Conditions</a>
      </div>
      <div tabindex="0">
        <p>Your membership continues until canceled. You can cancel anytime by calling customer service at 718-513-2785.</p>
      </div>
    </div>
  </div>
</div>
