<div class="fk-flower-care">
  <h3>Flower Bouquet</h3>
  <ol>
    <li><span>Remove paper and plastic wrapping from flowers.</span></li>
    <li><span>With a sharp knife or scissors, trim 1-2 inches off the bottom of each stem and remove any foliage that may touch the water.</span></li>
    <li><span>Place into a vase filled with clean, cool water and one packet of flower food.</span></li>
    <li><span>Keep in a cool location out of direct sunlight.</span></li>
    <li><span>Re-cut stems and replace with fresh water every two days.</span></li>
    <li><span>To prolong the life of your bouquet, remove any flowers that begin to wither.</span></li>
  </ol>
</div>
<fk-ngdialog-close content="care instructions" ng-click="closeThisDialog()"></fk-ngdialog-close>
