<div class="container">
  <div class="row">
    <div class="content col-md-15 col-lg-15 col-sm-15 col-xs-15">
      <span class="footer-fklogo" ng-click="$ctrl.goToTop()"><a href="/" fk-icon fk-icon-id="{{$ctrl.SITE.FooterLogo}}"><span offscreen>{{$ctrl.SITE.Offscreen}}</span></a></span>
    </div>
  </div>
  <div class="row">
    <div class="copyright col-md-15 col-lg-15 col-sm-15 col-xs-15">
      <span>*Wines & Spirits are sold independently owned store.</span><br>
      <span>&copy; All Rights Reserved.</span>
    </div>
  </div>
</div>
