<div class="" ng-if="beforeSubmit">
  <div class="ngdialog-header">
    <h1>No Worries.<br>We'll email you a link to retrieve your password.</h1>
  </div>
  <fk-forgot-password-form class="ngdialog-form"></fk-forgot-password-form>
  <div class="ngdialog-footer">
    Need further assistance? <button fk-track-click="CHAT INITIATED|CHAT" ng-click="triggerChat()" title="contact us" class="chatLink button-secondary-ghost">Contact Us</button>
  </div>

</div>
<div class="" ng-if="!beforeSubmit">
  <div class="ngdialog-header">
    <div class="success">
      <fk-icon fk-icon-id="#done"></fk-icon>
      <h1>Check Your Email</h1>
    </div>
    <p>If you don't receive this email, please check your junk mail.</p>
  </div>
  <div class="ngdialog-footer">
    <p>Need more help?</p>
    <button type="button" name="contactUs" class="button-primary" fk-track-click="CHAT INITIATED|CHAT" ng-click="triggerChat()">Contact Us</button>
  </div>
</div>
