<div class="fresh-factor-cointainer">
  <p class="title">Daily Fresh Factor</p> 
  <p>Discover what's fresh, right now. We taste our produce daily to help you choose the best from the rest.</p>
  <div class="description">
    <div class="rating-star">
      <fk-rating template-rating="10"></fk-rating>
      <fk-rating template-rating="8"></fk-rating>
      <fk-rating template-rating="6"></fk-rating>
      <fk-rating template-rating="4"></fk-rating>
      <fk-rating template-rating="2"></fk-rating>
    </div>
    <div class="rating-descriptions">
      <p>Mind-blown</p>
      <p>Amaze</p>
      <p>All Good</p>
      <p>Pretty Decent</p>
      <p>Basic</p>
    </div>
  </div>
</div>
<fk-ngdialog-close ng-click="closeThisDialog()"></fk-ngdialog-close>
