<div class="fk-guaranteed-fresh">
  <h2>GUARANTEED FRESH. EVERY. SINGLE. TIME.</h2>

  <h4>What is it?</h4>
  <p>Our guaranteed freshness dates for perishable products help take the guesswork out of shopping. It’s not an expiration date–it’s the minimum number of days we absolutely guarantee your product will be perfectly fresh. With appropriate food storage or flower care, your product is likely to stay fresh for much longer!</p>

  <h4>How do we ensure such fresh quality?</h4>
  <ul>
    <li>Our experts inspect items daily to give up-to-date quality ratings of our produce, flowers, and seafood.</li>
    <li>Fully refrigerated, state-of-the-art facility guarantees the optimal climate for food storage.</li>
    <li>On-demand delivery in insulated coolers ensure items arrive to your door cold and fresh.</li>
    <li>A range of temperature and humidity environments guarantee that every piece of produce and every flower is stored in its optimal climate.</li>
    <li>Direct shipments from farms, dairies, and fisheries mean there are no middlemen, so your food gets to you several days faster (and fresher!).</li>
  </ul>

  <p>If you’re dissatisfied with any item in your order, just let us know and we’ll make it right.</p>

</div>
<fk-ngdialog-close content="Guaranteed Fresh" ng-click="closeThisDialog()"></fk-ngdialog-close>
