<div class="col-lg-5 col-md-5 col-sm-15 col-xs-15" id="chat-holder-help">
  <div>
    <p class="title">Chat with our SideKicks</p>
  </div>
  <div>
    <div>
      <button class="button-primary" fk-track-click="CHAT INITIATED|CHAT" ng-click="triggerChat()">
        <fk-icon fk-icon-id="#chat-icon"></fk-icon>START CHAT</button>
    </div>
  </div>
  <p class="extra-small">Hours: 6:30AM to 12AM</p>
</div>
<div class="col-lg-5 col-md-5 col-sm-15 col-xs-15" id="message-holder-help">
  <div>
    <p class="title large-view">Problems or Requests?</p>
  </div>
  <div>
    <div>
      <button class="button-primary-ghost" ng-click="sendMessage()">
        <fk-icon fk-icon-id="#paperplane_message"></fk-icon>SEND A MESSAGE</button>
    </div>
  </div>
</div>
<div class="col-lg-5 col-md-5 col-sm-15 col-xs-15" id="call-holder-help">
  <div>
    <p class="title large-view">Call Us</p>
  </div>
  <div>
    <div>
      <button class="button-primary-ghost">
        <fk-icon fk-icon-id="#Phone-icon"></fk-icon><a href="tel:17185132785"><span offscreen>Call us on</span>1-718-513-2785</a></button>
    </div>
  </div>
  <p class="extra-small large-view">Hours: 6:30AM to 12AM</p>
</div>
