<div class="fk-microwave">
  <p>Our Frozen Entrées, 4-Minute Meals and Sides in a Snap use special pressure cooker packaging to preserve the delicate flavor of herbs and vegetables while maintaining the juiciness of meat and fish.</p>
  <h3>BPA-Free</h3>
  <p>Start counting freshness dates on the day after you get your delivery. Keep in mind — these are only the minimum number of freshness days we guarantee. With appropriate food storage or flower care, you may enjoy even more.</p>
  <h3>Microwave-Safe</h3>
  <p>Our meals and sides are microwave-safe when prepared according to the directions provided with each product. Please see individual product pages and packaging for thawing and/or cooking instructions. The cardboard sleeve must be removed before microwaving. Times may vary per microwave. This package is not for use in toaster or conventional ovens.</p>
  <h3>Defrosting Under Refrigeration</h3>
  <p>Our chef designed some frozen entrées for preparation in microwaves with DEFROST settings. To prepare in microwaves without DEFROST settings, simply thaw overnight under refrigeration and cook by following the "cook on HIGH" microwave times. When using the overnight refrigeration-defrost method, ensure quality by cooking the thawed product within 24 hours.</p>
  <h3>Recycling</h3>
  <p>While the polypropylene package is recyclable under <img src="{{ngDialogData.triangleImage}}" alt="Recycle instructions">, it may not be compatible with your local curbside pickup. Please check with your local residential recycling program. At this time, the Department of Sanitation in NYC and Westchester County do not accept this package for recycling. The cardboard sleeve is recyclable with residential paper recycling programs.</p>
</div>
<fk-ngdialog-close content="ABOUT OUR PACKAGING" ng-click="closeThisDialog()"></fk-ngdialog-close>
