<div>
  <div class="content">
    <h2>What mobile number can we use to text or call you during delivery?</h2>
    <fk-mobile-number-form phone-number="ngDialogData.phoneNumber"></fk-mobile-number-form>
  </div>
  <div class="policy">
    <div class="policy-content">
      Carrier charges may apply. For more information see</br>
      <a href="/help/smstermsofuse/" target="_blank" class="secondary-dark-background">Terms and conditions</a>
    </div>
  </div>
</div>
<fk-ngdialog-close content="mobile number" ng-click="closeThisDialog()"></fk-ngdialog-close>
