<div class="container fk_raf_page">
  <div class=" row">
    <div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-15 col-xs-15">
      <div class="referal-banner"></div>
    </div>
    <div class="col-lg-8 col-lg-offset-1 col-md-8 col-md-offset-1 col-sm-15 col-xs-15 form-section">
      <fk-raf-registration-form default-action="signup"></fk-raf-registration-form>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15 referal-terms">
      {{$ctrl.text.TermsAndConditions}}
    </div>
  </div>
  <div class="row">
    <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15 referal-footer"></div>
  </div>
</div>
