<div class="row">
  <div class="col-lg-15 col-md-15 col-sm-15 col-xs-15 atp-header">
    <div ng-if="unavItems.length - currentItemIndex > 1"><span>{{unavItems.length - currentItemIndex}}</span> items in your bag are unavailable.</div>
    <div ng-if="unavItems.length - currentItemIndex === 1"><span>{{unavItems.length - currentItemIndex}}</span> item in your bag is unavailable.</div>
  </div>
</div>
<div class="row atp-content">
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-15 atp-product-count" ng-if="currentProduct"><span>{{currentItemIndex + 1}} of {{unavItems.length}}</span></div>
  <div class="atp-unavilable-product col-lg-9 col-md-9 col-sm-9 col-xs-15" ng-if="currentProduct">
    <fk-product-card product="currentProduct" orientation="vertical" fk-touch></fk-product-card>
    <div class="partial-quantity" ng-if="+currentItem.availableQuantity > 0">
      <span ng-class="+currentItem.availableQuantity > 0">Only {{+currentItem.availableQuantity}} left in stock.</span>
      <br><span>The quantity you requested will be reduced.</span>
      <div class="atp-keep-or-remove fk-custom-field">
        <input type="radio" class="nobullet" ng-model="removeOrKeep.value" id="atp-KOR-{{currentItem.cartLineId}}-keep" name="atp-keep-or-remove" value="keep" />
        <label for="atp-KOR-{{currentItem.cartLineId}}-keep" class="keep">
          <fk-icon fk-icon-id="#check"></fk-icon>
          <fk-icon fk-icon-id="#done"></fk-icon>Keep {{currentItem.availableQuantity}} available</label>
        <input type="radio" class="nobullet" ng-model="removeOrKeep.value" id="atp-KOR-{{currentItem.cartLineId}}-remove" name="atp-keep-or-remove" value="remove" />
        <label for="atp-KOR-{{currentItem.cartLineId}}-remove" class="remove-all">
          <fk-icon fk-icon-id="#check"></fk-icon>
          <fk-icon fk-icon-id="#done"></fk-icon>Remove all</label>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div ng-if="replacement" class="atp-recommendation col-lg-11 col-lg-offset-2 col-md-11 col-md-offset-2 col-sm-15 col-xs-15">
    <div class="atp-recommendation-header">
      <span>Recommended Replacements</span>
      <span>Optional</span>
    </div>
    <fk-product-tile-list products="currentItem.recommendedProducts" channel="'checkout'" location="'atp_'+currentProduct.productData.productId" orientation="vertical" item-class="'col-lg-75 col-md-75 col-sm-15 col-xs-15'"></fk-product-tile-list>
  </div>
</div>
<div class=" row atp-footer">
  <div class="col-lg-11 col-lg-offset-2 col-md-11 col-md-offset-2 col-sm-15 col-xs-15">
    <div class="action-buttons">
      <button class="button-primary-alt-dark" type="button" name="button" ng-click="closeAtp()">CLOSE</button>
      <button ng-if="+currentItem.availableQuantity === 0" class="button-secondary atp-continue" type="button" name="button" ng-click="continue()">{{currentItemIndex+1 === unavItems.length ? 'DONE' : 'CONTINUE'}}</button>
      <button ng-if="+currentItem.availableQuantity > 0" class="button-secondary atp-continue" type="button" name="button" ng-click="continue()">{{currentItemIndex+1 === unavItems.length ? 'DONE' : 'NEXT ITEM'}}</button>
    </div>
  </div>
</div>
