<div class="tc--content">
  <p>
    By selecting "I agree", you agree to the updates to our Customer Agreement and Privacy Policy.
    If you wish to view or print the new Customer Agreement or Privacy Policy, tap or click the "View Customer Agreement", "View Privacy Policy" links below.
  </p>

  <ul class="tc--unordered-list">
    <li><a target="_blank" href="/help/legal/agreement">View Customer Agreement</a>
    <li><a target="_blank" href="/help/legal/privacy">View Privacy Policy</a>
  </ul>

  <div class="tc--button-container">
    <button class="button button-primary tc-button" ng-click="agree()">I Agree</button>
  </div>
</div>
<div class="tc--header">
  <h3>Our Customer Agreement &amp; Privacy Policy have changed.</h3>
</div>
<fk-ngdialog-close ng-click="closeTC()"></fk-ngdialog-close>
