<div class="fkly-container">
  <div class="fkly-item"><p class="c-box">1</p></div>
  <div class="fkly-item"><p class="c-box">2</p></div>
  <div class="fkly-item"><p class="c-box">3</p></div>
  <div class="fkly-item"><p class="c-box">4</p></div>
  <div class="fkly-item"><p class="c-box">5</p></div>
  <div class="fkly-item"><p class="c-box">6</p></div>
  <div class="fkly-item"><p class="c-box">7</p></div>
  <div class="fkly-item"><p class="c-box">8</p></div>
  <div class="fkly-item"><p class="c-box">9</p></div>
  <div class="fkly-item"><p class="c-box">10</p></div>
  <div class="fkly-item"><p class="c-box">11</p></div>
  <div class="fkly-item"><p class="c-box">12</p></div>
  <div class="fkly-item"><p class="c-box">13</p></div>
  <div class="fkly-item"><p class="c-box">14</p></div>
  <div class="fkly-item"><p class="c-box">15</p></div>
</div>


<h3> Two Columns</h3>

<div class="fkly-container">
  <div class="fkly-item-left">
      <div class="fkly-item fkly-item-three">
        <img src="assets/img/sample_pic.jpg" alt="apple" title="apple">
        <div class="product-details">
          card1
        </div>
      </div>
      <div class="fkly-item fkly-item-three">
        <img src="assets/img/sample_pic.jpg" alt="apple" title="apple">
        <div class="product-details">
          card2
        </div>
      </div>
      <div class="fkly-item fkly-item-three">
        <img src="assets/img/sample_pic.jpg" alt="apple" title="apple">
        <div class="product-details">
          card3
        </div>
      </div>
      <div class="fkly-item fkly-item-three">
        <img src="assets/img/sample_pic.jpg" alt="apple" title="apple">
        <div class="product-details">
          card4
        </div>
      </div>
  </div>
  <div class="fkly-item-right">
    <div class="fkly-item-two">
      <img src="assets/img/sample_pic.jpg" alt="apple" title="apple">
      <div class="product-details">
        card1
      </div>
    </div>
    <div class="fkly-item-two">
      <img src="assets/img/sample_pic.jpg" alt="apple" title="apple">
      <div class="product-details">
        card2
      </div>
    </div>
  </div>
</div>
