<div class="row notification-setting-page col-lg-14 col-md-14" id="account-details-page">
  <div class="col-sm-15 col-xs-15 mobile-title notifications-only-mobile">
    <fk-icon fk-icon-id="#close" id="close-details" ng-click="goBack()"></fk-icon>
  </div>
  <div class="notification-wrapper">
    <div class="settings-notifications"><h2>Notifications</h2></div>
    <h3>Text Alerts</h3>
    <fk-mobile-notifications-form class="col-sm-15 col-xs-15"></fk-mobile-notifications-form>
    <div class="terms-conditions">Carrier charges may apply. For more information see <a href="/help/smstermsofuse/" target="_blank">Terms and Conditions</a></div>
    <h3>Email Subscriptions</h3>
    <fk-email-notifications-form class="col-sm-15 col-xs-15"></fk-email-notifications-form>
  </div>
</div>
