@import url(variables.css);

.changepassword-page {
  background-color: var(--fk-color-off-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.changepassword-page .content {
  background-color: var(--fk-color-gray-lighter);
  box-shadow: 2px 2px 0 0 rgba(0, 0, 0, 0.15);
  height: 582px;
  margin-bottom: calc(var(--fk-horizontal-space) * 4);
  margin-top: calc(var(--fk-horizontal-space) * 2.6);
  text-align: center;
  width: 550px;
}

.changepassword-page .content h1 {
  color: var(--fk-color-gray-darker);
  font-family: var(--fk-font-sans-serif);
  font-size: var(--fk-font-size-large);
  font-weight: 600;
  line-height: 1.45em;
  letter-spacing: 1.3px;
  margin-top: 0;
  padding-top: calc(var(--fk-horizontal-space) * 4);
}

.changepassword-page .content p {
  line-height: .5em;
}

.changepassword-page .content fk-change-password-form form {
  display: inline-block;
  margin-top: calc(var(--fk-vertical-space) * 5);
  width: 400px;
}

.changepassword-page .content fk-change-password-form form button{
  height: 60%;
  width: 100%;
}

@media (--fk-extra-small-screen) {
  .changepassword-page .content {
    box-shadow: none;
    float: left;
    height: 100%;
    margin: 0;
    padding-top: calc(var(--fk-horizontal-space) * 3);
    padding-bottom: calc(var(--fk-horizontal-space) * 10);
    width: 100%;
    z-index: 2;
  }

  .changepassword-page .content h1 {
    padding: 0;
  }

  .changepassword-page .content p {
    line-height: 1em;
  }

  .changepassword-page .content fk-change-password-form form {
    display: inline-block;
    margin-top: calc(var(--fk-vertical-space) * 3);
    width: 343px;
  }
}
