@import url(variables.css);

.fd-welcome-popup {
  .ngdialog-content {
    .content {
      background-color: white;
      color: black;
      width: 100%;
      height: 100%;
      padding: 20px;
      .ngdialog-header {
        width: 300px;
        margin-left: auto;
        margin-right: auto;
        padding: 0px;
        .logo svg {
            margin-left: auto;
            margin-right: auto;
            width: 300px;
            height: 126px;
            fill: var(--fk-color-primary);
        }
      }
      h3, p, span {
        text-align: center;
      }
      span {
        display: block;
        text-decoration: underline;
        color: var(--fk-color-secondary);
        font-size: 12px;
      }
      .buttons {
        width: 100%;
        .button-primary, .button-primary-ghost {
          height: 60px;
          width: 100%;
        }
      }
    }
  }
}
