@import url(variables.css);

fk-cart-recommenders-selector {
  overflow: hidden;

  .fk-cart-recommenders-selector {
    .cr-selector {
      display: flex;
      align-items: flex-end;
      border-bottom: 2px solid var(--fk-color-gray-light);
      overflow-x: auto;

      .cr-recommender {
        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }

      .cr-button {
        height: calc(var(--fk-vertical-space)*2.5);
        cursor: pointer;
        min-width: 150px;
        white-space: nowrap;
        font-family: Graphik;
        font-weight: 500;
        color: var(--fk-color-gray);
        text-align: center;
        text-transform: uppercase;

        &.cr-selected {
          color: var(--fk-color-white);
          border-bottom: 4px solid var(--fk-color-gray-light);
        }
      }
    }

  }
}

@media (--fk-extra-small-screen), (--fk-small-screen) {
  fk-cart-recommenders-selector {
    .fk-cart-recommenders-selector {

      .cr-selector {
        /* Set the same height to selectorHeight in scrollToRecommendation in fkCartRecommenders component */
        height: calc(var(--fk-vertical-space)*4);
        background-color: var(--fk-color-primary-darker);

        .cr-recommender {
          margin: 0 calc(var(--fk-horizontal-space)*0.5);
        }

        .cr-button {
          font-size: var(--fk-font-size-base);
          line-height: 1.25;
        }

      }
    }

    &.cr-selector-non-sticky {
      visibility: hidden;

      &.cr-visible {
        visibility: visible;
      }
    }

    &.cr-selector-sticky {
      width: 100%;
      position: fixed;
      top: 50px;
      z-index: 5;
      display: none;

      &.cr-visible {
        display: block;
      }
    }

  }
}

@media (--fk-medium-screen),(--fk-large-screen) {
  fk-cart-recommenders-selector {
    .fk-cart-recommenders-selector {
      .cr-selector {
        height: calc(var(--fk-vertical-space)*4);
        margin: 0 calc(var(--fk-horizontal-space)*0.5) calc(var(--fk-vertical-space)*1.5);

        .cr-recommender {
          margin: 0 calc(var(--fk-horizontal-space)*3);
        }

        .cr-button {
          font-size: 18px;
          line-height: 1.11;
        }
      }

    }

    &.cr-selector-sticky {
      display: none;
    }

  }
}
