:root {

  /* colors*/
  --fk-color-primary: #732282;
  --fk-color-primary-darker: #4f175a;
  --fk-color-primary-darkest: #3a1141;
  --fk-color-primary-bg: #3e2248;
  --fk-color-primary-lighter: #852796;
  --fk-color-primary-lightest: #972daa;
  --fk-color-primary-fade: #fbf4fc;
  --fk-color-secondary: #008299;
  --fk-color-secondary-darker: #00758A;
  --fk-color-secondary-lite-dark: #0098b3;
  --fk-color-secondary-lighter: #00BCDB;
  --fk-color-secondary-lightest: #00a5c2;
  --fk-color-secondary-fade: #d6f9ff;
  --fk-color-secondary-contrast: #008094 ;
  --fk-color-secondary-bright: #005766;
  --fk-color-gray: #a6a8b1;
  --fk-color-gray-darkest: #1b1b21;
  --fk-color-gray-darker: #3e3f49;
  --fk-color-gray-dark: #575860;
  --fk-color-gray-light: #e1e1e1;
  --fk-color-gray-lighter: #f4f4f3;
  --fk-color-off-white: #fafafa;
  --fk-color-off-white-dark: #f4f4f3;
  --fk-color-white: #fff;
  --fk-color-fd-logo: #4F175A;

  --fk-color-red: #b93d3f;
  --fk-color-black: #000;

  --fd-color-green: #4fa157;
  --fd-color-green-light: #5fb067;
  --fb-color-blue: #3b5998;
  --gp-color-red: #dd4b39;
  --fd-color-yellow: #fffef2;
  --fd-color-red: #e42b22;
  --fd-color-claret: #790033;

  /* semi trasparent colors*/
  --fk-color-white-a: rgba(255,255,255,.6);
  --fk-color-white-medium-a: rgba(255,255,255,.7);
  --fk-color-white-light-a: rgba(255,255,255,.2);
  --fk-color-primary-bg-a: rgba(62, 34, 72, .94);
  --fk-color-primary-darker-a: rgba(79,23,90,.94);
  --fk-color-primary-darker-medium-a: rgba(79,23,90,.7);
  --fk-color-primary-darker-light-a: rgba(79,23,90,.2);
  --fk-color-primary-darkest-a: rgba(58, 17, 65, .1);
  --fk-color-primary-lighter-a: rgba(133,39,150,.9);
  --fk-color-primary-g-a: rgba(115, 34, 130, .8);
  --fk-color-primary-transparent: rgba(133, 39, 150, 0);
  --fk-color-off-white-a: rgba(250,250,250,.9);
  --fk-color-black-a: rgba(0,0,0,.3);
  --fk-color-gray-a: rgba(166,168,177,.3);
  --fk-color-secondary-medium-a: rgba(0, 153, 178, .6);

}
