@import url(variables.css);

.fk-forgot-password fk-forgot-password {
  font-size: var(--fk-font-size-large);
  line-height: 1em;
  height: 600px;
  background-color: var(--fk-color-white);
  overflow-x: hidden;
  overflow-y: auto;

  .ngdialog-header,
  .ngdialog-footer,
  fk-forgot-password-form {
    padding: 0 calc(var(--fk-vertical-space) * 2);
    text-align: center;
    margin: 0;
  }

  form {
    padding: 0 calc(var(--fk-horizontal-space) * 2);
    width: 100%;
  }

  button {
    height: 60px;
    width: 100%;
  }

  .ngdialog-header {
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: calc(var(--fk-horizontal-space) * 5) 0 0 0;

    .success{
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
    }

    h1{
      font-family: var(--fk-font-sans-serif);
      font-size: var(--fk-font-size-large);
      color: var(--fk-color-gray-darker);
      line-height: 1.41em;
      margin: 0
    }
  }

  p {
   font-weight: 600;
   line-height: 1.5em;
   color: var(--fk-color-gray-dark);
   font-size: var(--fk-font-size-base);
   letter-spacing: 1px;
   margin: calc(var(--fk-vertical-space) * 2);
 }

 button{
   margin: 0;
 }

 .chatLink {
   background: none;
   display: inline;
   color: var(--fk-color-primary);
   width: auto;
   height: auto;
   padding: 0;
 }

 .ngdialog-content {
   display: flex;
   flex-direction: column;
 }

 .ngdialog-footer {
   color: var(--fk-color-gray-dark);
   font-size: var(--fk-font-size-base);
   font-weight: 600;
   letter-spacing: 1px;
   opacity: 0.97;
   margin-bottom: calc(var(--fk-vertical-space) * 2);
   a {
    &:hover,
    &:focus {
      text-decoration: underline;
     }
   }
 }

 .ngdialog-content {
   padding: 0;
   width: 460px;
 }

 .success {
   fk-icon,
   fk-icon> svg {
     fill: var(--fk-color-primary);
     height: 40px;
     width: 40px;
     margin-right: calc(var(--fk-vertical-space) / 2);
   }
 }
}

@media (--fk-extra-small-screen) {
  .fk-forgot-password .ngdialog-content {
    padding: 0;
    width: 100%;

    fk-forgot-password {
      margin-right: 0;
      height: 100%;
      width: 100%;
      padding: 0 var(--fk-vertical-space);

      .ngdialog-header {
       padding: calc(var(--fk-horizontal-space) * 4) 0;
      }

      .close-continer,
      .close-continer:before {
       padding: 0 var(--fk-vertical-space);
       width: 100%;
      }

      .close-continer:before {
       text-align: right;
      }

      .ngdialog-footer {
       padding-top: calc(var(--fk-horizontal-space) * 2);
      }

      fk-forgot-password-form,
      form {
       padding: 0;
      }

      p{
        margin-top: 0;
      }
    }
  }
}
