@import url(variables.css);

fk-logo,
*[fk-logo] {
  display: block;
}

fk-logo h1
*[fk-logo] h1 {
  color: var(--fk-color-white);
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
  padding-bottom: 0;
  display:flex;
  align-items: center;
  justify-content: flex-start;
  flex:1;
}

fk-logo h1 > a,
fk-logo h1  > a:hover,
fk-logo h1  > a:focus,
fk-logo h1  > a:visited,
*[fk-logo] h1 > a,
*[fk-logo] h1  > a:hover,
*[fk-logo] h1  > a:focus,
*[fk-logo] h1  > a:visited {
  color: var(--fk-color-white);
  text-decoration: underline;
}

fk-logo h1  a,
*[fk-logo] h1  a {
  height: 30px;
  width: 130px;
  fill:var(--fk-color-white);
}

fk-logo h1 a svg,
*[fk-logo] h1 a svg {
  float:left;
}
