@import url(variables.css);

.fk-mobile-number {
  & .content {
    background-color: var(--fk-color-white);
    color: var(--fk-color-gray-dark);
    overflow: hidden;
    padding: calc(var(--fk-vertical-space) * 2) calc(var(--fk-horizontal-space) * 2);
  }
  & .content h2 {
    font-family: var(--fk-font-sans-serif);
    font-size: var(--fk-font-size-large);
    font-weight: 500;
    line-height: 1.41;
    margin-top: 0;
    margin-bottom: calc(var(--fk-vertical-space) * 2);
    text-align: center;
  }
  & #mobile_number_form .buttons> button {
    height: 53px;
    width: 100%
  }
  & #mobile_number_form .fields label {
    font-weight: bold;
  }
  & #mobile_number_form .fields label::after {
    content: ' *';
  }
  & .policy {
    display: flex;
    color: var(--fk-color-gray-light);
    font-size: var(--fk-font-size-medium);
    padding: var(--fk-vertical-space) calc(var(--fk-horizontal-space) * 4);
    width: 100%;
    opacity: 1;
    text-align: center;
  }
}

.ngdialog.ngdialog-theme-fk.fk-mobile-number .ngdialog-content .close-continer .label-container span {
  margin: 0;
  position: relative;
  left: -44px;
}

@media (--fk-extra-small-screen) {
  .ngdialog.ngdialog-theme-fk.fk-mobile-number .ngdialog-content .close-continer .label-container span {
    margin: 0;
    position: relative;
    left: 0px;
  }

  .ngdialog.ngdialog-theme-fk.fk-mobile-number .ngdialog-content > div {
    overflow-y: scroll;
  }

  .fk-mobile-number {
    & .content {
      height: 100%;
    }
    & .policy {
      background-color: var(--fk-color-white);
      color: var(--fk-color-primary);
    }
    & .close-continer {
      margin-top: 40px;
    }
  }
}
