@import url(variables.css);

.nutrition-panel-wrapper {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid var(--fk-color-gray-light);
}
/* DRUG TYPE */

.nutrition-panel-wrapper.DRUG {
    border-bottom: 4px solid var(--fd-color-red);
    background: var(--fd-color-yellow);
    color: var(--fk-color-black);
}

.DRUG .nutrition-panel .section {
  border: 4px solid var(--fd-color-red);
  border-bottom: none;

  .bullet {
    background: var(--fk-color-black);
  }
}

/* PET TYPE */

.nutrition-panel-wrapper.PET {
    border-bottom: 4px solid var(--fd-color-claret);
    background:var(--fk-color-white);
    color: var(--fd-color-claret);
}

.PET .nutrition-panel .section {
  border: 4px solid var(--fd-color-claret);
  border-bottom: none;

  &.importance4 {
    background: var(--fd-color-claret);
      color: var(--fk-color-white);
  }

  .bullet {
    background: var(--fd-color-claret);
  }

  .value2-wrapper {
    min-width: 45px;
  }

  .dot {
    border-bottom: 1px dotted var(--fd-color-claret);
  }
}

/* BABY TYPE */

.BABY .nutrition-panel {
  .importance4 {
    font-weight: bold;
  }

  .section {
    padding: 3px 0;

  }
  .section-item:last-child {
      border-bottom: 5px solid var(--fk-color-black);
  }

  .dotted .value1 {
    padding: 4px 4px 0 0;
  }

  .dotted .value2-wrapper {
    padding: 4px 0 0 4px;
  }

  .dot {
    border-bottom: 2px dotted var(--fk-color-black);
  }
}

/* SUPPLEMENT TYPE */

.nutrition-panel-wrapper.SUPPL {
    border-bottom: 4px solid var(--fk-color-white);
}

.SUPPL .nutrition-panel {
    border-bottom: 4px solid var(--fk-color-black);

    &:last-child {
      border-bottom: none;
    }

    .section {
      padding: 3px 0;
    }

  .section-item {
    border-bottom: 1px solid var(--fk-color-black);
    padding: 3px 0;

    &.important,
    &.separatorholder,
    &:last-child {
      border-bottom: none;
    }

    &.important {
      border-top: 1px solid var(--fk-color-black);
      font-size: 8px;
      text-align: right;

      span {
        display: inline-block;
        width: 40px;
        text-align: center;
      }
    }

    .separator {
      border-width: 5px;
    }

    .dot {
        border-bottom: none;
    }
  }
}

/* RULES FOR EVERY NEW TYPE NUTRITION PANEL */

.nutrition-panel {
  font-family: 'Arial';
  font-size: 11px;
  line-height: 1.3em;
  text-align: left;

  .section {
  overflow: hidden;
  padding: 3px 7px;

    &.importance4 {
      .title {
        font-size: 20px;
        line-height: 1.5em;
        padding: 5px 0;
      }
    }

    &.importance3 {
      .title {
        font-size: 16px;
        line-height: 1.5em;
        padding: 5px 0;
      }
    }

    &.importance2 {
      .title {
        font-size: 16px;
        line-height: 1.5em;
        padding: 5px 0;
      }
    }

    .title, .important {
      font-family: 'Arial Black', Arial;
      font-weight: bold;
      font-style: italic;
      font-size: 12px;
      line-height: 1.3em;
    }

    .separator {
      width: 100%;
      margin: 5px 0;
      border-bottom: 2px solid var(--fk-color-black);
    }

    .bullet {
      display: inline-block;
      height: 5px;
      width: 5px;
      vertical-align: middle;
    }

    .dotted {
      display: block;
      overflow: hidden;

      .value1 {
        display: inline-block;
        float: left;
      }

      .value2-wrapper {
        display: inline-block;
        max-width: 50%;
        float: right;
        text-align: right;
      }

      .value2 {
        float: left;
      }

      .dot {
        overflow: hidden;
        display: block;
        height: 1em;
      }
    }
  }
}
