@import url(variables.css);

.password-setting-page{
  background-color: var(--fk-color-off-white);
  .settings-password {
    padding-bottom: var(--fk-horizontal-space);
    h2 {
      font-size: var(--fk-font-size-large);
      font-weight: 600;
      letter-spacing: 0.4px;
      color: var(--fk-color-gray-darker);
      font-family: var(--fk-font-sans-serif);
      margin: 0;
    }
  }
}

#fkPasswordSettings .buttons {
  margin: 0;
  background-color: var(--fk-color-gray-lighter);
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

fk-password-settings {
  max-width: 740px;
  background-color: var(--fk-color-white);
  font-family: var(--fk-font-sans-serif);
  font-style: normal;
  font-stretch: normal;
  border-top: 2px solid var(--fk-color-primary);
  box-shadow: 1px 1px 0 0 rgba(0, 0, 0, 0.2);
  padding-left: 0px;

  & p, ul {
    font-family: var(--fk-font-sans-serif);
    font-size: var(--fk-font-size-medium);
    font-weight: normal;
    color: var(--fk-color-gray-dark);
    line-height: 1.57;
    letter-spacing: normal;
  }

  .password-change-success {
    color: var(--fk-color-secondary);
    padding: 10px;
  }

  & .fields {
    overflow: hidden;
    padding: 30px;
  }

  & button{
    margin: 0;
    height: 55px;
    width: 260px;
  }

  & .button-secondary[disabled] {
    background-color: var(--fk-color-gray-light);
    text-shadow: none;
  }

  &.confirm-email{
    float: right !important;
  }

  & fk-form-field{
    margin-bottom: calc(var(--fk-vertical-space) * 3);
    padding-left: 0;
  }

  & fk-form-field input{
    font-family: var(--fk-font-sans-serif);
    font-size: var(--fk-font-size-medium);
    line-height: 1.5;
    color: var(--fk-color-gray);
    background-color: transparent
  }

  & .current-password {
    margin-right: calc(var(--fk-vertical-space) * 5);
    margin-bottom: 0;
  }

  & .forgot-password {
    margin-bottom: calc(var(--fk-vertical-space) * 2);
    clear: both;
    a {
      &:hover,
      &:focus {
        text-decoration: underline;
        color: var(--fk-color-primary-lightest);
      }
    }
  }

  & .password-instructions {
    padding: 15px 10px 0;
    ul {
      padding-left: 35px;
      li {
        list-style-type: inherit;
      }
    }
  }
}
.password-wrapper {
  & .col-sm-15,
  & .col-xs-15 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (--fk-large-screen), (--fk-medium-screen) {
  fk-password-settings {
    .password-instructions {
      p {
        margin: 20px;
      }
    }

    .forgot-password {
      padding-left: var(--fk-horizontal-space);
    }
  }

  .password-setting-page {
    .password-settings-only-mobile {
      display:none;
    }
  }
}

@media (--fk-extra-small-screen), (--fk-small-screen) {
  .password-setting-page {
    .password-wrapper {
      padding: 0 calc(var(--fk-vertical-space)*2);
    }
    .settings-password {
      margin-top: calc(var(--fk-vertical-space)*7.5);
      margin-bottom: calc(var(--fk-vertical-space)*1.5);
    }
    fk-password-settings {
      .password-instructions {
        padding: 20px;
        p {
          margin-top: 0px;
        }
        ul {
          padding-left: calc(var(--fk-horizontal-space) * 2);
        }
      }
      fk-form {
        .fields {
          padding: 0px calc(var(--fk-horizontal-space) * 2) calc(var(--fk-horizontal-space) * 2);
        }
      }
    }
  }
}
