@import url(variables.css);

.fk-zip-emailnotification {
  .zip-emailnotification--footer {
    text-align: center;
    color: var(--fk-color-gray-light);
    padding: calc(var(--fk-vertical-space) * 2) 0;
    opacity: 1;
  }
  .zip-email-notification-popup {
    background-color: var(--fk-color-off-white);
    color: var(--fk-color-gray-darker);
    width: 100%;
    text-align: center;
    h1 {
      font-family: var(--fk-font-sans-serif);
      font-size: var(--fk-font-size-large);
      font-weight: 500;
      margin: 0;
      margin-bottom: calc(var(--fk-vertical-space) * 3);
    }
    button {
      width: 100%;
      height: calc(var(--fk-vertical-space) * 6);
    }
    .zip-email-zipcode_section {
      padding: calc(var(--fk-vertical-space) * 3) calc(var(--fk-horizontal-space) * 2);
      border-bottom: 1px solid var(--fk-color-gray-light);
      button {
        font-size: var(--fk-font-size-medium);
        font-weight: 700;
      }
    }
    .zip-email-container {
      text-align: left;
      padding: calc(var(--fk-vertical-space) * 3) calc(var(--fk-horizontal-space) * 2);
    }
  }
}

@media (--fk-small-screen),
(--fk-extra-small-screen) {
  .ngdialog.ngdialog-theme-default.ngdialog-theme-fk.fk-zip-emailnotification .ngdialog-content {
    justify-content: flex-end;
  }
  .ngdialog.ngdialog-theme-fk.fk-zip-emailnotification .ngdialog-overlay {
    position: fixed;
  }
}
